body {
    margin: 25% auto;
    padding: 0;
}

.slider-container {
    max-width: 900px;
    margin: auto;
    overflow: clip;
}

input[type="radio"] {
    display: none;
}

.slider-wrapper, .caption-wrapper {
    width: 400%;
    display: flex;
    transition: margin-left 0.5s ease;
}

.caption-wrapper {
    grid-column: 1/2;
}

.slide {
    width: 25%;
    flex-shrink: 0;
}

img {
    width: 100%;
}
.bottom{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:
}

.caption {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider-control {
    grid-column: 2/2;
    display: flex;
    gap: 5.313rem;
}

.slider-control label {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

/* Обычное состояние при наведении */
.slider-control label:hover {
    background-color: white;
}

/* Выбранное (checked) состояние */
/*input[type="radio"]:checked + div > label {

}*/

/*#slide1:checked + input + input + input + div + div + div > .slide1label*/
#slide1:checked + input + input + input  + div + div > .slider-control > .slide1label{
    border: 2px solid black;
    background-color: red;
}
#slide2:checked + input + input + div + div > .slider-control > .slide2label {
    border: 2px solid black;
    background-color: red;
}
#slide3:checked + input + div + div > .slider-control > .slide3label {
    border: 2px solid black;
    background-color: red;
}
#slide4:checked + div + div > .slider-control > .slide4label {
    border: 2px solid black;
    background-color: red;
}

/* Выбранное состояние при наведении */
input[type="radio"]:checked + label:hover {
    border: 2px solid blue;
    background-color: transparent;
}

#slide1:checked ~ .slider-wrapper {
    margin-left: 0;
}

#slide1:checked ~ div.bottom > .caption-wrapper {
    margin-left: 0;
}

#slide2:checked ~ .slider-wrapper {
    margin-left: -100%;
}

#slide2:checked ~  div.bottom > .caption-wrapper {
    margin-left: -100%;
}

#slide3:checked ~ .slider-wrapper {
    margin-left: -200%;
}

#slide3:checked ~  div.bottom > .caption-wrapper {
    margin-left: -200%;
}

#slide4:checked ~ .slider-wrapper {
    margin-left: -300%;
}

#slide4:checked ~ div.bottom > .caption-wrapper {
    margin-left: -300%;
}

/* Показать нужную подпись */
#slide1:checked ~ div.bottom > .caption-wrapper .caption1,
#slide2:checked ~ div.bottom > .caption-wrapper .caption2,
#slide3:checked ~ div.bottom > .caption-wrapper .caption3,
#slide4:checked ~ div.bottom > .caption-wrapper .caption4 {
    opacity: 1;
}

/* Desktop */
@media (min-width: 768px) {
    /* Add desktop-specific styles */
}

/* Mobile */
@media (max-width: 767px) {
    /* Add mobile-specific styles */
}
