body {
    margin: 25% auto;
    padding: 0;
}

.slider-container {
    max-width: 900px;
    margin: auto;
    position: relative;
    overflow: clip;
}

input[type="radio"] {
    display: none;
}

.slider-wrapper, .caption-wrapper {
    width: 400%;
    display: flex;
    transition: margin-left 0.5s ease;
}

.slide, .caption {
    width: 25%;
    flex-shrink: 0;
}

img {
    width: 100%;
}

.caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider-control {
    display: flex;
    gap: 10px;
}

.slider-control label {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

/* Обычное состояние при наведении */
.slider-control label:hover {
    background-color: white;
}

/* Выбранное (checked) состояние */
input[type="radio"]:checked + label {
    border: 2px solid black;
    background-color: red;
}

/* Выбранное состояние при наведении */
input[type="radio"]:checked + label:hover {
    border: 2px solid white;
    background-color: transparent;
}

/*input[type="radio"]:checked + label:active {
    background-color: transparent;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
}*/

#slide1:checked ~ .slider-wrapper {
    margin-left: 0;
}

#slide1:checked ~ .caption-wrapper {
    margin-left: 0;
}

#slide2:checked ~ .slider-wrapper {
    margin-left: -100%;
}

#slide2:checked ~ .caption-wrapper {
    margin-left: -100%;
}

#slide3:checked ~ .slider-wrapper {
    margin-left: -200%;
}

#slide3:checked ~ .caption-wrapper {
    margin-left: -200%;
}

#slide4:checked ~ .slider-wrapper {
    margin-left: -300%;
}

#slide4:checked ~ .caption-wrapper {
    margin-left: -300%;
}

/* Показать нужную подпись */
#slide1:checked ~ .caption-wrapper .caption1,
#slide2:checked ~ .caption-wrapper .caption2,
#slide3:checked ~ .caption-wrapper .caption3,
#slide4:checked ~ .caption-wrapper .caption4 {
    opacity: 1;
}

/* Desktop */
@media (min-width: 768px) {
    /* Add desktop-specific styles */
}

/* Mobile */
@media (max-width: 767px) {
    /* Add mobile-specific styles */
}
